// settings
// tools
// generic (e.g. reset)

// TODO: https://piccalil.li/blog/a-more-modern-css-reset/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-block-start: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	/* Colors */
	--main-border-color: #ddd;
	--primary-border: #037dba;
	--gray-20: #404346;
	--gray-60: #8a8d91;
	--gray-70: #bcc0c4;
	--gray-80: #c9ccd1;
	--gray-90: #e4e6eb;
	--gray-95: #f0f2f5;
	--gray-100: #f5f7fa;
	--primary-blue: #037dba;
	--secondary-blue: #0396df;
	--tertiary-blue: #c6efff;
	--flash-blue: #4cf7ff;
	--outline-blue: rgba(4, 164, 244, 0.6);
	--navy-blue: #035e8c;
	--red-25: #bd0d2a;
	--secondary-text: #65676b;
	--white: #fff;
	--yellow: #fffae1;

	--outline-box-shadow: 0 0 0 2px var(--outline-blue);
	--outline-box-shadow-contrast: 0 0 0 2px var(--navy-blue);

	/* Fonts */
	--sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Ubuntu, Helvetica, sans-serif;
	--monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
}

// elements
html {
	font-size: 100%;
}

body {
	font-family: var(--sans-serif);
	background: var(--gray-100);
	font-weight: 400;
	line-height: 1.75;
}

// objects
// components
.c-main {
	display: flex;
	height: 100vh;
	width: 100%;
	overflow: hidden;

	&__column {
		height: 100%;

		&:last-child {
			flex-grow: 1;
		}
	}
}

.c-note-view {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-note-none {
	font-size: 1.5rem;
	margin-inline: 20px 20px;
}

.c-note {
	background: var(--white);
	box-shadow:
		0px 0px 5px rgba(0, 0, 0, 0.1),
		0px 0px 1px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	height: 95%;
	width: 95%;
	min-width: 400px;
	padding: 8%;
	overflow-y: auto;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap-reverse;
		margin-inline-start: -12px;

		& h1 {
			line-height: 1.3;
			flex-grow: 1;
			overflow-wrap: break-word;
			margin-inline-start: 12px;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
	}

	&__updated {
		color: var(--secondary-text);
		white-space: nowrap;
		margin-inline-start: 12px;
	}
}

.c-note-preview {
	margin-block-start: 50px;
}

.o-from-markdown {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5 {
		margin-block: 2rem 0.7rem;
		margin-inline: 0;
	}

	& blockquote {
		font-style: italic;
		color: var(--gray-20);
		border-left: 3px solid var(--gray-80);
		padding-left: 10px;
	}

	& p {
		margin-bottom: 16px;
	}

	& img {
		width: 100%;
	}
}

.c-logo {
	height: 20px;
	width: 22px;
	margin-inline-end: 10px;
}

.c-sidebar {
	background: var(--white);
	box-shadow:
		0px 8px 24px rgba(0, 0, 0, 0.1),
		0px 2px 2px rgba(0, 0, 0, 0.1);
	overflow-y: scroll;
	z-index: 1000;
	flex-shrink: 0;
	max-width: 350px;
	min-width: 250px;
	width: 30%;

	&__header {
		letter-spacing: 0.15em;
		text-transform: uppercase;
		padding: 36px 16px 16px;
		display: flex;
		align-items: center;
	}

	&__menu {
		padding: 0 16px 16px;
		display: flex;
		justify-content: space-between;

		& > %sidebar__menu__nested {
			position: relative;
			flex-grow: 1;
		}
	}
}

// https://codepen.io/mandelid/pen/vwKoe
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.c-spinner {
	display: inline-block;
	transition: opacity linear 0.1s 0.2s;
	width: 20px;
	height: 20px;
	border: 3px solid rgba(80, 80, 80, 0.5);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	opacity: 0;

	&--active {
		opacity: 1;
	}

	%spinner__wrapper & {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

.c-search-field {
	@extend %sidebar__menu__nested;

	& input {
		padding: 0 16px;
		border-radius: 100px;
		border: 1px solid var(--gray-90);
		width: 100%;
		height: 100%;
		outline-style: none;

		&:focus {
			box-shadow: var(--outline-box-shadow);
		}
	}

	@extend %spinner__wrapper;
}

.c-edit-button {
	border-radius: 100px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	padding: 6px 20px 8px;
	cursor: pointer;
	font-weight: 700;
	outline-style: none;

	&--new {
		background: var(--primary-blue);
		color: var(--white);
		border: none;
		margin-inline-start: 6px;
		transition: all 0.2s ease-in-out;

		&:hover {
			background: var(--secondary-blue);
		}

		&:focus {
			box-shadow: var(--outline-box-shadow-contrast);
		}
	}

	&--modify {
		background: var(--white);
		color: var(--primary-blue);
		border: 1px solid var(--primary-blue);
		margin-inline-start: 12px;
		transition: all 0.1s ease-in-out;

		&:disabled {
			opacity: 0.5;
		}

		&:hover:not([disabled]) {
			background: var(--primary-blue);
			color: var(--white);
		}

		&:focus {
			box-shadow: var(--outline-box-shadow);
		}
	}
}

//https://youtu.be/ot-LoU0MGb0?t=1575

@mixin o-skeleton {
	height: 100%;
	background-color: #eee;
	background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
	background-size: 200px 100%;
	background-repeat: no-repeat;
	border-radius: 4px;
	display: block;
	line-height: 1;
	width: 100%;
	animation: shimmer 1.2s ease-in-out infinite;
	color: transparent;

	&::after {
		content: 'Loading...';
	}

	&:first-of-type {
		margin: 0;
	}

	&--button {
		border-radius: 100px;
		padding: 6px 20px 8px;
		width: auto;
	}
}

%o-skeleton {
	@include o-skeleton;
}

@mixin o-stack {
	& > * + * {
		margin-block-start: 0.8em;
	}
}

%o-brief-list-wrapper {
	padding: 16px 0;
}

%o-brief-list-nested {
	padding: 0 16px;
}

@mixin o-brief {
	position: relative;
	margin-bottom: 12px;
	padding: 16px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	max-height: 100px;
}

ul.c-brief-list-skeleton {
	@extend %o-brief-list-wrapper;
}

.c-brief-list-skeleton {
	@include o-stack;

	& > li {
		@extend %o-brief-list-nested;
	}

	&__brief {
		@include o-brief;
		@include o-skeleton;
		height: 5em;
	}
}

.c-brief-empty {
	padding: 16px;
}

ul.c-brief-list {
	@extend %o-brief-list-wrapper;
}

.c-brief-list {
	@include o-stack;

	& > li {
		@extend %o-brief-list-nested;
	}
}

.c-brief {
	@include o-brief;
	transition: max-height 250ms ease-out;
	transform: scale(1);

	&:has(.c-brief__details-state:checked) {
		max-height: 300px;
		transition: max-height 500ms ease;
	}

	&.js\:c-brief--flash {
		animation-name: flash;
		animation-duration: 0.6s;
	}

	& header {
		z-index: 1;
		width: 85%;
		pointer-events: none;
	}

	& strong {
		display: block;
		font-size: 1.25rem;
		line-height: 1.2;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	& time {
		font-size: 0.8rem;
	}

	&__open {
		position: absolute;
		inset: 0;
		width: 100%;
		z-index: 0;
		border: 1px solid transparent;
		border-radius: 6px;
		text-align: start;
		background-color: var(--gray-95);
		cursor: pointer;
		outline-style: none;
		color: transparent;
		font-size: 0;

		&:focus {
			box-shadow: var(--outline-box-shadow);
		}

		&:hover {
			background-color: var(--gray-90);
		}

		&.c-brief--active {
			background-color: var(--tertiary-blue);
			border: 1px solid var(--primary-border);
		}

		&.c-brief--pending {
			background-color: var(--gray-80);
		}
	}

	&__no-content {
		font-style: italic;
	}

	&__details-state {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:checked {
			& ~ .c-brief__details-toggle svg {
				transform: rotate(-180deg);
			}

			& ~ .c-brief__details {
				transform: translateY(5px);
				opacity: 1;
			}
		}
	}

	&__details-toggle {
		z-index: 2;
		border-radius: 50%;
		height: 24px;
		border: 1px solid var(--gray-60);
		flex-shrink: 0;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;
		transition:
			visibility 0s linear 20ms,
			opacity 300ms;
		outline-style: none;

		.c-brief__details-state:focus ~ & {
			box-shadow: var(--outline-box-shadow);
		}

		.c-brief__open:hover + &,
		.c-brief__open:focus + &,
		&:hover,
		&:focus {
			visibility: visible;
			opacity: 1;
			transition:
				visibility 0s linear 0s,
				opacity 300ms;
		}

		& svg {
			opacity: 0.8;
			margin: 0.15rem 0.3rem;
			transition: all 250ms ease-in-out;
			font-size: 0.8rem;
		}
	}

	&__details {
		pointer-events: none;
		z-index: 2;
		flex: 1 1 250px;
		position: relative;
		overflow: hidden;
		opacity: 0;
		top: -5px;
		transition:
			transform 250ms ease-out,
			opacity 250ms ease-in;
	}
}

@keyframes shimmer {
	0% {
		background-position: -200px 0;
	}
	100% {
		background-position: calc(200px + 100%) 0;
	}
}

@keyframes flash {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.05);
		opacity: 0.9;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

// utilities (overrides)
.u-offscreen {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
	position: absolute;
}
